# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

qqq.docx

wizcoin/
w3schools-test.github.io/

# igonore all .log files
*.log
# ignore all files in any directory named temp
temp/

